<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.css" type="text/css">  
  </head>
  <body id="page-top">
    <h1><%=Helper.current_user(session).username%></h1>
    <h1>Your current balance: <%=Helper.current_user(session).balance%></h1>
    <form action="/logout" method="post">
      <input type="submit" value="Log Out">
    </form>
  </body>
</html>